<!--display_layout-->
<br><br><br>
<h1>Index of all <%=@console.name%> Games</h1>
	<%if @console.games.count > 0 %>
<table>
	<tr>
		<th>Title of Game</th>
		<th>Genre of Game</th>
		<th>Game Owner</th>
	</tr>
	<tr>
		<%@console.games.each do |game| %>
		<td><a href="/games/<%=game.title_slug%>"><%=game.title%></a></td>
		<td><%=game.genre%>
		<td><a href="/players/<%=game.player.slug%>"><%=game.player.moniker%></td>
	<tr>

				<br>
				
<%end%>
</table>
	<%else%>
	<%="There are no games currently owned for this Console"%>
	<%end%>

<br>


