
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>

<table>
	<tr>
		<th>Moniker</th>
		<th>Game Title</th>
		<th>Game Genre</th>
		<th>Game Console</th>
	</tr>
	<tr>
		<%@games.each do |game| %>

		<td><%=game.player.moniker%></td>
		<td><%=game.title%></td>
		<td><%=game.genre%></td>
		<td><%=game.game_console.name%></td>
	<tr>

				<br>
				
<%end%>
</table>



TESTING <%=Time.now%>

<div style="position: absolute; top: 0; right: 0; width: 100px; text-align:right;">
    <a href="/logout">LOGOUT</a>
  </div>