<!--display_layout-->
<table>
	<tr>
		<th>Game Owner</th>
		<th>Game Title</th>
		<th>Game Genre</th>
		<th>Game Console</th>
	</tr>
	<tr>
		<td><a href="/players/<%=@game.player.slug%>"><%=@game.player.moniker%></td>
		<td><%=@game.title%></td>
		<td><%=@game.genre%></td>
		<td><a href="/game_consoles/<%=@game.game_console.console_slug%>"><%=@game.game_console.name%></td>
			<%if current_player.id == @game.player_id%>
		<td><a href="/games/<%=@game.title_slug%>/edit">Edit</a></td>
		<td><form action="/games/<%=@game.title_slug%>/delete" method="post"><input id="hidden" type="hidden" name="_method" value="delete"><input type="submit" value="delete"></td>
		<%end%>
	<tr>

				<br>
</table>
<div style="position: absolute; bottom: 40px;  width: 100%; text-align:center;">
<a href="/games/new"><h3><b>Create New Game<b></h3></a>
</div>




